.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 60px;

    &--main{
        display: block;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 35px;
        @include animation(moveInLeft)
    }
    
    &--sub{
        display: block;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 17px; 
        @include animation(moveInRight)
    }
}